@import "@/scss/variables.scss";
@import "@/scss/extends.scss";

.audio-info-container {
  @extend %flex-center;
  position: relative;
  letter-spacing: 0.5px;

  > .img-cover {
    max-height: 56px;
    margin-right: 0.85rem;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
  }

  > .text {
    @extend %flex-center;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.85rem;

    .artist {
      color: $light-gray;
      margin-top: 0.2rem;
      font-size: 0.8rem;
    }

    > *:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  > aside {
    @extend %flex-center;
    margin-left: 1.5rem;

    .btn-love {
      font-size: 0.8rem;

      &.active {
        color: $light-green;
      }
    }
  }
}
