@import "@/scss/extends.scss";
@import "@/scss/variables.scss";

ul.list-of-categories {
  @extend %flex-center;
  justify-content: flex-start;
  margin: 0 1rem;
  margin-left: 2rem;

  li.item {
    @extend %flex-center;
    height: 36px;
    margin: 0 0.3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;

    &.selected {
      background-color: #333333;
    }
  }
}
